h1,
h2,
h3,
h4,
p {
  font-family: DM Sans;
}

body {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  margin: 0%;
}

@media only screen and (min-width: 1024px) {
  .no-desktop {
    display: none;
  }
}

button {
  --color: #3f4e4f;
  background-color: #2c3639;
  font-family: DM Sans;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  /*margin: 20px;*/
  position: relative;
  overflow: hidden;
  border: 2px solid #2c3639;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #eeeeee;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #eeeeee;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #2c3639;
  transition: background 0s;
}

button a {
  text-decoration: none;
  color: #eeeeee;
}

#btn-2 {
  width: 8em;
}

#nav-logo img {
  width: 15%;
}

.topnav {
  overflow: hidden;
  padding-right: 3%;
  margin-bottom: 10%;
}

.topnav a {
  float: right;
  margin-top: 3%;
  color: #222831;
  text-align: center;
  padding: 3% 2% 3% 3%;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: DM Sans;
  letter-spacing: 0.3rem;
}

.topnav a:hover {
  color: black;
  font-size: 1.5rem;
}

.topnav a.active {
  color: #222831;
  font-weight: bolder;
  font-size: 1.5rem;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222831;
  margin-top: 5%;
}
footer #footer-logo {
  display: flex;
  justify-content: center;
}
footer #footer-logo img {
  padding-top: 3%;
  width: 7%;
}
footer #footer-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer #footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0%;
}

footer #footer-nav ul li {
  font-family: DM Sans;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: #eeeeee;
  padding: 10% 12% 3% 12%;
  text-decoration: none;
}

footer #footer-nav ul li a {
  font-family: DM Sans;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: #eeeeee;
  text-decoration: none;
}
footer #footer-rrss {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 4%;
}
footer #footer-rrss img {
  width: 3%;
  padding: 0% 2% 0% 2%;
}

#grid-index {
  display: grid;
  gird-template-columns: 1fr 1fr 1fr;
  gird-template-rows: auto auto auto auto;
  grid-template-areas:
    "principal-1 princial-2 principal-3"
    "card-index-1 card-index-2 card-index-3"
    "art-index art-index art-index"
    "box-index box-index box-index";
  margin-right: 10%;
  margin-left: 10%;
}

#principal-1 {
  gird-area: principal-1;
}

#principal-2 {
  gird-area: principal-2;
}

#principal-3 {
  gird-area: principal-3;
}

.card-index-1 {
  grid-area: card-index-1;
}

.card-index-2 {
  grid-area: card-index-2;
}

.card-index-3 {
  grid-area: card-index-3;
}

.art-index {
  grid-area: art-index;
}

.box-index {
  grid-area: box-index;
}

#principal-1 {
  display: flex;
  justify-content: center;
}

#principal-1 img {
  box-shadow: -103px 64px 0px -64px rgba(34, 40, 49, 1);
}

#principal-2 {
  display: flex;
  justify-content: center;
}

#principal-3 {
  display: flex;
  justify-content: center;
}

#principal-3 img {
  box-shadow: 103px 64px 0px -64px rgba(34, 40, 49, 1);
}
.card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 68%;
  margin-top: 18%;
  text-align: center;
}
.card-index button {
  margin: 10% 0;
}
.aass1 {
  margin-left: 16%;
}
.aass2 {
  margin-right: 16%;
}
.card-index-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "texto"
    "button";
}
.card-index-1 p {
  grid-area: texto;
}
.card-index-1 button {
  grid-area: button;
  width: 45%;
}

.card-index-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "texto"
    "button";
}
.card-index-2 p {
  grid-area: texto;
}
.card-index-2 button {
  grid-area: button;
  width: 45%;
}

.card-index-3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "texto"
    "button";
}
.card-index-3 p {
  grid-area: texto;
}
.card-index-3 button {
  grid-area: button;
  width: 45%;
}

.art-index {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin: 8% 0% 8% 0%;
  width: 80%;
}
.art-index #art-index-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.art-index #art-index-text h2 {
  text-align: center;
  font-size: 1.8rem;
  width: 70%;
}
.art-index #art-index-text p {
  text-align: center;
  width: 60%;
  margin-bottom: 2%;
}
.art-index #art-index-img {
  box-shadow: -55px 41px 0px 0px #222831;
}
.art-index #art-index-img img {
  max-width: 40em;
  height: 100%;
  min-height: 20em;
}

.art-index-text button {
  justify-self: center;
}

.box-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #222831;
  padding: 1%;
}
.box-index #box-index-1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: 90%;
}
.box-index #box-index-1 p {
  width: 30%;
  margin-left: 2%;
  color: #eeeeee;
}
.box-index #box-index-1 img {
  width: 50%;
}
.box-index #box-index-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  width: 90%;
}
.box-index #box-index-2 p {
  width: 30%;
  margin-left: 2%;
  color: #eeeeee;
}
.box-index #box-index-2 img {
  width: 50%;
}

#grid-proyect-main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
    "introduccion"
    "proyecto1"
    "proyecto1text"
    "proyecto2"
    "proyecto2text"
    "proyecto3"
    "proyecto3text";
  margin-right: 10%;
  margin-left: 10%;
}

#intro-proyect-main {
  grid-area: introduccion;
}

#proyecto1 {
  grid-area: proyecto1;
}

#proyectotext1 {
  grid-area: proyecto1text;
}

#proyecto2 {
  grid-area: proyecto2;
}

#proyectotext2 {
  grid-area: proyecto2text;
}

#proyecto3 {
  grid-area: proyecto3;
}

#proyectotext3 {
  grid-area: proyecto3text;
}

#intro-proyect-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#intro-proyect-main h1 {
  font-size: 3.2rem;
  margin: 0%;
}
#intro-proyect-main p {
  font-size: 1.2rem;
  width: 50%;
  margin: 0%;
}

.proyect-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0% 0% 0%;
}
.proyect-box img {
  width: 50%;
}

.proyect-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 50%;
}

.proyect-text hr {
  margin: 2% 0% 1% 0%;
  height: 2px;
  width: 50%;
  background-color: #2c3639;
  border-color: #2c3639;
}

.proyect-text h4,
p {
  margin: 0%;
}

#grid-about {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "intro intro"
    "leyend leyend"
    "nosotros nosotros"
    "final final";
}

#intro-about {
  grid-area: intro;
}

#leyenda {
  grid-area: leyend;
}

#nosotros {
  grid-area: nosotros;
}

#about-img {
  grid-area: final;
}

#intro-about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 100%;
  margin-bottom: 5%;
}

#intro-about p {
  font-size: 1.1rem;
  padding-right: 11%;
  width: 50%;
}

#leyenda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 4.5%;
  background: rgb(34, 40, 49);
  background: linear-gradient(
    0deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(34, 40, 49, 1) 37%,
    rgba(238, 238, 238, 1) 37%
  );
}

#leyenda i {
  font-family: Noto Sans;
  align-self: center;
  width: 30%;
  font-size: 3.5rem;
}

#nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  padding: 5% 13% 3% 11%;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 72%,
    rgba(34, 40, 49, 1) 72%,
    rgba(34, 40, 49, 1) 100%
  );
}

#nosotros img {
  width: 25%;
}

#nosotros div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#nosotros div h2 {
  margin-bottom: 1%;
  font-size: 2rem;
}

#nosotros div p {
  width: 80%;
}

#about-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5%;
  margin-bottom: 5%;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 65%,
    rgba(34, 40, 49, 1) 65%,
    rgba(34, 40, 49, 1) 100%
  );
}

.grid-pg {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "img-proy img-proy img-proy img-proy"
    "proy-info proy-info proy-info proy-info"
    "proy-det-1 proy-det-1 proy-det-1 proy-det-1"
    "proy-det-2 proy-det-2 proy-det-2 proy-det-2"
    "proy-det-3 proy-det-3 proy-det-3 proy-det-3"
    "proy-det-4 proy-det-4 proy-det-4 proy-det-4"
    "proy-desc proy-desc proy-desc proy-desc"
    "proy-anx proy-anx proy-anx proy-anx";
}

.img-proy {
  grid-area: img-proy;
}
.proy-info {
  grid-area: proy-info;
}
.proy-det-1 {
  grid-area: proy-det-1;
}
.proy-det-2 {
  grid-area: proy-det-2;
}
.proy-det-3 {
  grid-area: proy-det-3;
}
.proy-det-4 {
  grid-area: proy-det-4;
}
.proy-desc {
  grid-area: proy-desc;
}
#proy-anx {
  grid-area: proy-anx;
}

.img-proy {
  display: flex;
  justify-content: center;
}

.img-proy img {
  width: 50%;
}

.proy-info {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 50%;
  margin-bottom: 5%;
}

.proy-info hr {
  margin: 2% 0% 1% 0%;
  height: 2px;
  width: 50%;
  background-color: #2c3639;
  border-color: #2c3639;
}

.proy-det-1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-self: center;
  width: 50%;
  box-shadow: -26px 0px 0px 0px rgba(34, 40, 49, 1);
}

#anx-1 {
  width: 48%;
  margin-left: 2%;
}

.proy-det-2 {
  display: flex;
  flex-direction: column;
  justify-items: right;
  justify-self: center;
  text-align: right;
  width: 50%;
  box-shadow: 26px 0px 0px 0px rgba(34, 40, 49, 1);
}

.proy-det-2 div {
  display: flex;
  justify-content: right;
  flex-direction: row;
}

#anx-2 {
  width: 48%;
  margin-right: 2%;
}

.proy-det-3 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-self: center;
  width: 50%;
  box-shadow: -26px 0px 0px 0px rgba(34, 40, 49, 1);
}

#anx-3 {
  width: 48%;
  margin-left: 2%;
}

.proy-det-4 {
  display: flex;
  flex-direction: column;
  justify-items: right;
  justify-self: center;
  text-align: right;
  width: 50%;
  box-shadow: 26px 0px 0px 0px rgba(34, 40, 49, 1);
}

#anx-4 {
  width: 48%;
  margin-right: 2%;
}

.dtll-cont p {
  width: 50%;
}

#dtll-cont-1 {
  margin-left: 2%;
  box-shadow: 26px 0px 0px 0px rgba(34, 40, 49, 1);
}

#dtll-cont-2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 2%;
  box-shadow: -26px 0px 0px 0px rgba(34, 40, 49, 1);
}

#dtll-cont-3 {
  margin-left: 2%;
  box-shadow: 26px 0px 0px 0px rgba(34, 40, 49, 1);
}

#dtll-cont-4 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 2%;
}

.proy-desc {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  width: 30%;
  margin-top: 5%;
}

.proy-desc h2 {
  margin-bottom: 0%;
}

.proy-desc p {
  margin-top: 0%;
}

#proy-anx {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: center;
  width: 80%;
}

#proy-anx img {
  border: 5px solid #222831;
  width: 40%;
}

.proy-anx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 7%;
}

/*==========*/
/*CONTACTO*/
/*=========*/

.body-cont {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.head-cont {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 3%;
}

.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
}

.form-cont input {
  width: 30em;
  border-radius: 10px;
  height: 2em;
  color: #222831;
  background-color: white;
}
.form-cont textarea {
  width: 100%;
  border-radius: 10px;
  height: 15em;
  max-height: 15em;
  min-height: 15em;
  max-width: 30em;
  min-width: 30em;
  margin-bottom: 10%;
}

.conte-form {
  text-align: center;
  padding: 2% 10%;
  width: 10%;
  border-radius: 15px;
  background: #393e46;
  background: linear-gradient(45deg, #393e46 0%, #2c3639 20%, #222831 100%);
}
.conte-form h2 {
  color: #eeeeee;
  font-weight: 200;
  font-size: 2em;
  margin-top: 0%;
  margin-bottom: 2%;
}

hr {
  height: 2px;
  width: 100%;
  background-color: white;
  border-color: white;
}

#mensaje {
  font-family: DM Sans;
}

#envi {
  width: 8em;
  padding: 1%;
  font-family: DM Sans;
  font-weight: bold;
}

#rese {
  width: 8em;
  padding: 1%;
  font-family: DM Sans;
  font-weight: bold;
}

.logos-cnt {
  margin-bottom: 5%;
}

.lg-cont {
  width: 7.5em;
}

@media only screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }

  .topnav {
    overflow: hidden;
    margin-bottom: 3%;
    padding: 0%;
  }

  #nav-logo img {
    width: 30%;
  }

  #prin-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 2% 0% 2%;
  }

  #prin-mob h2 {
    text-align: center;
    margin-bottom: 0%;
    width: 100%;
  }

  #prin-mob p {
    text-align: center;
    width: 100%;
    margin-bottom: 8%;
  }

  #prin-mob img {
    border-radius: 1em;
    width: 100%;
  }

  #img-prin {
    background-color: #2c3639;
    padding-bottom: 3%;
    border-radius: 1em;
    box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.17);
  }

  #prin-mob hr {
    background-color: #222831;
    border-color: #222831;
    height: 0.1px;
    margin-top: 10%;
    width: 80%;
  }

  #art-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2c3639;
    padding-bottom: 4%;
    border-radius: 1em;
    margin: 8% 2% 8% 2%;
    box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.17);
  }

  #art-cont {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 1em;
  }

  #img-art-cont {
    display: flex;
    justify-content: left;
    width: 70%;
  }

  #img-art-cont img {
    border-radius: 1em 0em 0em 1em;
    width: 100%;
  }

  #art-text-mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 2% 2% 2% 1%;
  }

  #art-text-mob h2 {
    font-size: 1.1rem;
    margin: 8% 1% 2% 2%;
  }

  #art-text-mob p {
    font-size: 0.9rem;
    margin: 3% 1% 3% 2%;
  }

  #art-text-mob button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 20%;
    padding: 0%;
    margin-top: 6%;
    margin-bottom: 8%;
  }

  #art-text-mob button a {
    font-size: 0.8rem;
    align-self: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222831;
    margin-top: 15%;
  }
  footer #footer-logo {
    display: flex;
    justify-content: center;
  }
  footer #footer-logo img {
    padding-top: 3%;
    width: 20%;
  }
  footer #footer-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  footer #footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 10%;
  }

  footer #footer-nav ul li {
    font-family: DM Sans;
    text-decoration: none;
  }

  footer #footer-nav ul li a {
    font-family: DM Sans;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    color: #eeeeee;
    text-decoration: none;
  }
  footer #footer-rrss {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 4%;
  }
  footer #footer-rrss img {
    width: 12%;
    padding: 0% 2% 0% 2%;
  }
}
